@use "sass:color";
@use "../utility/convert";

/*------------------------------------------------------- 
    Admonitions
--------------------------------------------------------*/

/* Revert to Legacy */
.md-typeset .admonition,
.md-typeset details {
    border-width: 0;
    border-left-width: 4px;
    box-shadow: var(--md-shadow-z3);
}

/* Add Shadow */
.md-typeset {
    .admonition {
        border-color: var(--md-admonition-icon-color--note);
        box-shadow: var(--md-shadow-z3);
        transition: box-shadow 250ms;
    }
}

.md-typeset {

    // Mixin for admonition styles
    @mixin admonitionStyles($type, $colour) {
        $convertedColour: convert.hex3hsl($colour);

        .admonition.#{$type},
        details.#{$type} {
            border-color: $convertedColour;
        }

        .#{$type} {
            > .admonition-title,
            > summary {
                background-color: color.adjust($convertedColour, $alpha: -0.9);
            }

            > .admonition-title::before,
            > summary::before {
                background-color: $convertedColour;
                -webkit-mask-image: var(--md-icon--#{$type});
                mask-image: var(--md-icon--#{$type});
            }
        }
    }

    // Infos
    @include admonitionStyles('homebrew', #ffb624);
    @include admonitionStyles('glossary', #4db6ac); 

    // Quick Refrences
    @include admonitionStyles('action', #00BFA5);
    @include admonitionStyles('bonusaction', #FFAB00);
    @include admonitionStyles('reaction', #7C4DFF);
    @include admonitionStyles('move', #FFD600);
}

