/* Icons */
.ich1 {
    font-size: 4.5rem;
    margin: 0.25em 0 -0.25em;
}

.xxxxl {
    font-size: 5.5rem;
}

.pad-r {
    padding-right: 0.35em;
}

.pad-l {
    padding-left: 0.35em;
}
