/* Navigations & Sidebar */
.md-sidebar--primary {
    width: px2rem(220px);
}
  
.md-sidebar--secondary {
    width: px2rem(270px);
}

/* Theme Colours */
[data-md-color-scheme=slate] {
    --md-code-bg-color: hsl(240, 8%, 21%);
}

[data-md-color-scheme="slate"][data-md-color-primary="black"] {
    --md-typeset-a-color: hsl(174, 100%, 40%);
}