@use "sass:color";
@use "../utility/convert";
@use "./admonition";
@use "./table";

.md-typeset {
    // Statblock
    $colorAdmonition_statblock: convert.hex3hsl(#ffb624);

    .admonition.statblock,
    details.statblock {
        border-color: $colorAdmonition_statblock;

        & table:not([class]) {
            width: inherit;
            margin-top: inherit;

            th {
                background-color: transparent;
                border-bottom: transparent;
                text-transform: capitalize !important;
                font-weight: bold;
                color: var(--md-default-wht--050);
            }


            tr:nth-child(odd) td {
                background-color: transparent !important;
            }

            tr:nth-child(even) td {
                background-color: var(--md-mod-table-color--light) !important;
            }

            td:nth-child(1),
            td:nth-child(2),
            td:nth-child(5),
            td:nth-child(6) {
                font-size: table.$tableFontSize * 1.15;
                font-weight: 500;
                color: var(--md-text-color);
                font-variant: small-caps;
            }

            th:nth-child(4),
            td:nth-child(4) {
                border-right: 8px solid var(--md-default-bg-color) !important;
            }
        }
        &__table {
            width: 100%;
    
            table:not([class]) {
                box-shadow: transparent !important;
                display: inherit;
                border-color: inherit;
            }
        }
    }

    .statblock {

        >.admonition-title,
        >summary {
            background-color: color.adjust($colorAdmonition_statblock, $alpha: -0.9);
        }

        >.admonition-title::before,
        >summary::before {
            background-color: $colorAdmonition_statblock;
            -webkit-mask-image: var(--md-icon--statblock);
            mask-image: var(--md-icon--statblock);
        }
    }
}