@use "sass:color";
@use "../utility/convert";
@use "./admonition";
@use "./table";

.md-typeset {
    // Statblock
    $colorAdmonition_statblock: convert.hex3hsl(#ffb624);

    .admonition.statblock,
    details.statblock {
        border-color: $colorAdmonition_statblock;

        & table:not([class]) {
            font-size: convert.px2em(table.$tableFontSize * 1.8) !important;
            box-shadow: none !important;

            th {
                background-color: transparent !important;
                border-bottom: transparent;
                font-weight: bold;
                color: var(--md-default-wht--050);
                text-transform: capitalize !important;
            }

            tr:nth-child(even) {
                background-color: transparent !important;
            }

            tr:nth-child(odd) {
                background-color: var(--md-mod-table-color--light) !important;
            }

            td:nth-child(1),
            td:nth-child(2),
            td:nth-child(5),
            td:nth-child(6) {
                background-color: var(--md-default-blk--0125) !important;
                font-weight: strong;
                color: var(--md-text-color);
            }

            td:nth-child(1),
            td:nth-child(5) {
                font-variant: small-caps;
            }

            th:nth-child(4),
            td:nth-child(4) {
                border-right: 12px solid var(--md-default-bg-color) !important;
            }
        }
    }

    .statblock {

        >.admonition-title,
        >summary {
            background-color: color.adjust($colorAdmonition_statblock, $alpha: -0.9);
        }

        >.admonition-title::before,
        >summary::before {
            background-color: $colorAdmonition_statblock;
            -webkit-mask-image: var(--md-icon--statblock);
            mask-image: var(--md-icon--statblock);
        }
    }
}