@use "sass:color";
@use "../utility/convert";
@use "./admonition";

.md-typeset {
    // Statblock
    $colorAdmonition_statblock: convert.hex3hsl(#ffb624);

    .admonition.statblock,
    details.statblock {
        border-color: $colorAdmonition_statblock;

        & table:not([class]) {
            width: 100%;
            border-collapse: collapse;
            margin-top: 10px;
            font-size: 14px;
            text-align: left;

            th {
                background-color: transparent;
                border-bottom: transparent;
                text-transform: capitalize;
                font-weight: bold;
            }

            td {
                padding: 6px;
            }

            tr:nth-child(odd) td {
                background-color: transparent !important;
            }

            tr:nth-child(even) td {
                background-color: var(--md-mod-table-color--light) !important;
            }

            td:nth-child(1),
            td:nth-child(2) {
                background-color: #5a32327e;
                font-weight: bold;
                font-variant: small-caps;
            }
            .strong {
                background-color: #e6f7d9;
                font-weight: bold;
            }
            .table td:nth-child(4n) {
                border-right: 4px solid #b22222; /* Add red border on every 4th column */
              }
        }
    }

    &__table {
        width: 100%;

        table:not([class]) {
            box-shadow: transparent !important;
            display: inherit;
            border-color: inherit;
        }
    }

    .statblock {
        > .admonition-title,
        > summary {
            background-color: color.adjust($colorAdmonition_statblock, $alpha: -0.9);
        }

        > .admonition-title::before,
        > summary::before {
            background-color: $colorAdmonition_statblock;
            -webkit-mask-image: var(--md-icon--statblock);
            mask-image: var(--md-icon--statblock);
        }
    }
}
