.md-typeset table:not([class]) {
  th,
  td {
      font-size: 0.55rem;
      padding: px2em(5px) px2em(10px);
      border-bottom: rgba(255, 255, 255, 0.12);
      background-color: rgba(255, 255, 255, 0.025);
      min-width: px2em(1px);
  }

  /* Disable Table Row Hover */
  tbody tr:hover {
      background-color: rgba(0, 0, 0, 0);
  }

  /* Table Header Styling */
  th {
      font-weight: bold !important;
      text-transform: uppercase !important;
      vertical-align: bottom;
      color: rgba(255, 255, 255, 0.6);
      padding: px2em(7px) px2em(10px);
  }
}

$roundingVar: 6px;

/* Table Cell Rounding */
table th:first-child {
  border-radius: px2em($roundingVar) 0 0 0 !important;
}

table th:last-child {
  border-radius: 0 px2em($roundingVar) 0 0 !important;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 px2em($roundingVar) !important;
}

table tr:last-child td:last-child {
  border-radius: 0 0 px2em($roundingVar) 0 !important;
}

/* Table Border and Width */
.md-typeset__table {
  width: 100%;
}

.md-typeset__table table:not([class]) {
  display: table;
  border-color: transparent;
}
