/*------------------------------------------------------- 
    Tables
--------------------------------------------------------*/

@use "./typeset";
@use "../utility/convert";

$paddings: 16px;
$paddingScale: 7px;
$th-padding: $paddingScale * 1.4;

.md-typeset {
    // Table without a class
    & table:not([class]) {
        th,
        td {
            padding: convert.px2em($paddingScale) convert.px2em($paddings);
            min-width: convert.px2em(1px);
        }

        th {
            font-size: typeset.$defaultFontSize * 0.9;
            font-weight: bold !important;
            text-transform: capitalize !important;
            vertical-align: bottom;
            color: var(--md-text-color);
            border-bottom: convert.px2rem(3px) solid var(--md-primary-fg-color);
            background-color: rgba(0, 0, 0, 0.5);
            padding: convert.px2em($th-padding) convert.px2em($paddings);
        }

        td {
            font-size: typeset.$defaultFontSize * 0.85;
            border-bottom: rgba(255, 255, 255, 0.12);
            background-color: rgba(255, 255, 255, 0.025);

            // Bold text in <td> elements
            b,
            strong {
                font-weight: typeset.$defaultFontWeight * 1.8;
            }
        }

        // Hover effect for table rows
        tbody tr:hover {
            background-color: transparent;
        }

        // Responsive behaviour
        @media screen and (max-width: 580px) {
            display: block;

            thead {
                display: none; // Hide the table header on smaller screens
            }

            tbody,
            tr {
                display: block;
                width: 100%;
            }

            td {
                display: flex;
                justify-content: space-between;
                padding: convert.px2em($paddingScale * 0.8) convert.px2em($paddings * 0.8);
                border-bottom: none; // Remove borders for mobile view
            }

            td:before {
                content: attr(data-title); // Use `data-title` for labels
                font-weight: bold;
                color: var(--md-text-color-secondary);
                margin-right: convert.px2em($paddingScale * 0.5);
                text-transform: capitalize;
            }

            tbody tr {
                margin-bottom: convert.px2em($paddings * 0.5); // Add spacing between rows
                background-color: rgba(255, 255, 255, 0.05); // Optional: Alternate background for mobile rows
            }
        }

    }

    // BEM Element for tables within .md-typeset
    &__table {
        width: 100%;

        table:not([class]) {
            margin-top: convert.px2rem(4px);
            display: table;
            border-color: transparent;
        }
    }
}
