    /* Table Styles */
table:not([class]) {
    th,
    td {
      font-size: 0.55rem;
      padding: 5px 10px;
      border-bottom: rgba(255, 255, 255, 0.12);
      background-color: rgba(255, 255, 255, 0.025);
      min-width: 1px;
    }
    /* Disable Hover */
    tbody tr:hover {
      background-color: rgba(0, 0, 0, 0);
    }

    th {
      font-weight: bold !important;
      text-transform: uppercase !important;
      vertical-align: bottom;
      color: rgba(255, 255, 255, 0.6);
      padding: 7px 10px;
    }
  }

/* Table Cell Rounding */
table th:first-child {
    border-radius: 6px 0 0 0 !important;
  }
  
  table th:last-child {
    border-radius: 0 6px 0 0 !important;
  }
  
  table tr:last-child td:first-child {
    border-radius: 0 0 0 6px !important;
  }
  
  table tr:last-child td:last-child {
    border-radius: 0 0 6px 0 !important;
  }