@use "../utility/convert";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/*------------------------------------------------------- 
    Basic Typesets
--------------------------------------------------------*/

// General Typeset Variables
$headingFont: "Jost", sans-serif; // Font for headings
$defaultFontWeight: 300; // Default font weight for text
$defaultFontSize: convert.px2rem(15px); // Base font size converted to rem

// Heading Size Variables
$h1Size: $defaultFontSize * 2.2; // Size for H1
$h2Size: $defaultFontSize * 1.5; // Size for H2
$h3Size: $defaultFontSize * 1.30; // Size for H3
$h4Size: $defaultFontSize * 1.15; // Size for H4

// Main Typeset Styles
.md-typeset {
    font-weight: $defaultFontWeight;
    font-size: $defaultFontSize;

    @media screen and (max-width: 768px) {
        font-size: $defaultFontSize * 0.85; // Adjust font size for smaller screens
    }

    // Strong text styles
    strong {
        letter-spacing: $defaultFontSize * 0.03;
    }

    // Paragraph styles
    p {
        margin: convert.px2rem(10px) 0;
    }

    // List styles (unordered and ordered)
    ul,
    ol {
        margin: convert.px2rem(0px) 0;
    }

    li {
        margin: convert.px2rem(-4px) 0;
    }

    // Definition list styles
    dl, 
    dd {
        margin: convert.px2rem(-2px) 0;
    }

    dd {
        margin-left: convert.px2rem(-8px);
    }

    // Heading Styles
    h1,
    h2 {
        font-family: $headingFont;
        text-transform: uppercase;
    }

    h3,
    h4 {
        color: var(--md-gbl-text-color-strong);
        font-family: $headingFont;
        text-transform: none !important;
        font-variant: small-caps !important;
    }

    // H1 Specific Styles
    h1 {
        font-size: $h1Size;
        letter-spacing: $h1Size * 0.02;
        font-weight: $defaultFontWeight * 1.65;
        margin: convert.px2rem(9px) 0;
    }

    // H2 Specific Styles
    h2 {
        font-size: $h2Size;
        font-weight: $defaultFontWeight * 1.5;
        letter-spacing: $h2Size * 0.075;
        border-bottom: convert.px2rem(2.5px) solid var(--md-default-wht--025);
        margin: convert.px2rem(18px) 0 convert.px2rem(4px) 0;
        padding-bottom: convert.px2rem(2px);
    }

    // H3 Specific Styles
    h3 {
        font-size: $h3Size;
        font-weight: 530;
        letter-spacing: $h3Size * 0.085;
        margin: convert.px2rem(10px) 0;
        border-bottom: convert.px2rem(2.55px) dotted var(--md-default-wht--025);

        padding-bottom: convert.px2rem(4px);
    }

    // H4 Specific Styles
    h4 {
        font-size: $h4Size;
        letter-spacing: $h4Size * 0.030;
        font-weight: 550;
        margin: convert.px2rem(12px) 0 convert.px2rem(-6px) 0;
        padding-bottom: convert.px2rem(-2px);

        // &::before {
        //     content: "";
        //     display: inline-block;
        //     border-radius: $h4Size * 0.15;
        //     width: $h4Size * 0.75;
        //     height: $h4Size * 0.75;
        //     background-color: var(--md-default-wht--025);
        //     margin-right: convert.px2rem(8px);
        //     vertical-align: middle;
        // }
    }

    // H5 Specific Styles
    h5 {
        font-size: $defaultFontSize;
        letter-spacing: $defaultFontSize * 0.03;
        font-weight: 500;
        text-transform: capitalize !important;
        margin-bottom: convert.px2rem(-4px);
        padding-bottom: convert.px2rem(-4px);
    }

    // H6 Specific Styles
    h6 {
        font-size: $defaultFontSize * 0.85;
        font-weight: 350;
    }
}

/* Divider Line */
.md-typeset hr {
    border-bottom: convert.px2em(3px) dashed rgba(255, 255, 255, 0.15);
    padding-top: convert.px2rem(4px);
    padding-top: convert.px2rem(4px);
}

.xxxxl {
    font-size: 5.5rem;
}

// Padding Classes
.pad-r {
    padding-right: 0.35em;
}

.pad-l {
    padding-left: 0.35em;
}