// Main Theme

// Nav Bar
.md-sidebar--primary,
.md-sidebar--secondary,
.md-tabs,
.md-header {
    font-family: $headingFont;
}

// Main Theme Colour
[data-md-color-scheme="slate"] {
    --md-text-color: var(--md-default-fg-color);
    background-color: var(--md-default-bg-color);

    // Header (The one with Title)
    .md-header {
        color: var(--md-text-color);
        background-color: var(--md-default-bg-color);
        border-bottom: px2rem(2.5px) solid var(--md-primary-fg-color);

        &[data-md-state="shadow"] {
            box-shadow:
                0 0 px2rem(4px) rgba(0, 0, 0, 0.15),
                0 0 px2rem(4px) px2rem(8px) rgba(0, 0, 0, 0.2);
        }
    }

    // Go to Top Button
    .md-top {
        background-color: var(--md-default-bg-color--50);

        &:hover {
            background-color: var(--md-primary-fg-color);
        }
    }

    // Tabs (Under the tile with Nav)
    .md-tabs {
        color: var(--md-text-color);
        background-color: var(--md-primary-fg-color-transparent);

        &__link--active {
            color: var(--md-primary-fg-color);
        }

        &__link:hover {
            color: var(--md-accent-fg-color);
        }
    }

    // Search
    .md-search__input {
        color: var(--md-text-color);
        background-color: var(--md-default-bg-color);

        &:hover {
            background-color: var(--md-default-bg-color--50);
        }

        ~ .md-search__icon {
            color: var(--md-text-color);
        }
        &::placeholder {
            color: var(--md-default-bg-color);
        }
    }
}
