$accentColour: hex2hsl(#3F51B5); // Original HSL colour
$accentColour--semitransparent: hsla(nth($accentColour, 1), nth($accentColour, 2), nth($accentColour, 3), 0.5);

/* Navigations & Sidebar */
.md-sidebar--primary {
    width: px2rem(220px);
}
  
.md-sidebar--secondary {
    width: px2rem(270px);
}

/* Theme Colours */
[data-md-color-scheme=slate] {
    --md-code-bg-color: hsl(240, 8%, 21%);
     // Header
  .md-header {
    color: var(--md-text-color);
    background-color: var(--md-header-bg-color);
    border-bottom: px2rem(1px) solid $accentColour;

    &[data-md-state=shadow] {
        box-shadow: 0 0 px2rem(4px) rgba(0,0,0,.15),
                    0 0 px2rem(4px) px2rem(8px) rgba(0,0,0,.2);
    }
  }

  .md-top {
    background-color: var(--md-default-bg-color--dark);

    &:hover {
      background-color: var(--md-primary-fg-color);
    }
  }

  // Tabs
  .md-tabs {
    color: var(--md-text-color);
    background-color: $accentColour--semitransparent;

    &__link--active {
        color: var(--md-primary-fg-color);
    }

    &__link:hover {
        color: var(--md-accent-fg-color);
    }
  }
}

[data-md-color-scheme="slate"][data-md-color-primary="black"] {
    --md-typeset-a-color: hsl(174, 100%, 40%);
}