@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@use "../utility/convert";

/*------------------------------------------------------- 
    Fonts. 
--------------------------------------------------------*/

:root {
    --heading-font: "Jost", sans-serif;
    --jetbrains: "JetBrains Mono", serif;
}

/*-------------------------------------------------------
    Typeset Variables
--------------------------------------------------------*/

.md-typeset {

    // Other
    --default-font-weight: 400;

    // Base values
    --base-font-size: #{convert.px2rem(16px)};
    --scale-small: 0.8125;
    --scale-table: 0.9;

    // Keep this for Deprecation
    // @media screen and (max-width: 720px) {
    //     --default-font-size: #{convert.px2rem(13px)};
    // }

    // Default font size initially equals the base size
    --default-font-size: var(--base-font-size);

    // On small screens, update the default font size by the small-screen scale factor
    @media screen and (max-width: 720px) {
        --default-font-size: calc(var(--base-font-size) * var(--scale-small));
    }

    // Global font size uses the default font size
    --gbl-font-size: var(--default-font-size);

    // Inside a table (that doesn't have its own class), further scale the font size
    & table:not([class]) {
        --gbl-font-size: calc(var(--default-font-size) * var(--scale-table));
    }
}

