/* Base Styles */
/* Default Text */
.md-typeset {
    text-align: justify;
    text-justify: auto;
    font-weight: 350;
}

.md-typeset strong {
    font-weight: 515;
}

/* Headers */
.md-typeset h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

/* Main Theme Colour */
[data-md-color-scheme=slate] {
    --md-hue: 220;
}

/* Icon Heading */
.ich1 {
    font-size: 4.5rem;
    margin-top: 0.4em;
    margin-bottom: -0.25em;
}

/* Code Blocks */
/* Inline Blocks */
.md-typeset code {
    padding: 0.25em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-weight: normal;
    font-size: 0.625rem;
    border-radius: 4px;
}

/* Tool Tips */
[role=tooltip]>.md-tooltip2__inner {
    padding: 0.45em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    max-width: 35rem;
    font-size: 0.7rem;
    font-weight: normal;
    border-radius: 4px;
}

/* Grid Layout */
/* Space for text block */
.md-grid {
    max-width: 85%; /* or 100%, if you want to stretch to full-width */
}

.darkslategray {
    color: #32333d;
}
.darkslategrayaccent {
    color: #27272f;
}

/* Icon Spacing */
.lg {
    padding-right: 0.35em;
}