/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* -------------------------------- */
/* Base Styles */
/* -------------------------------- */

/* Default Text */
.md-typeset {
    text-justify: auto;
    font-weight: 280;
    font-size: 0.6rem;
    letter-spacing: 0.3px;
}

/* Paragraph Spacing */
.md-typeset p {
    margin-bottom: 6px;
    margin-top: 4.5px;
}

/* Lists */
.md-typeset ol, 
.md-typeset ul, 
.md-typeset li {
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Bold Text */
.md-typeset strong {
    font-weight: 540;
}

/* Tabbed Block */
.md-typeset .tabbed-block {
    margin-bottom: 0;
    padding-bottom: 2px;
}

/* -------------------------------- */
/* Navigations & Sidebar */
/* -------------------------------- */

.md-sidebar--primary {
    width: 220px;
}

.md-sidebar--secondary {
    width: 270px;
}
/*
.md-nav__item--section > .md-nav > .md-nav__list {
    margin-left: 2rem;
  }
*/

/* -------------------------------- */
/* Headings */
/* -------------------------------- */

/* General Heading Styles */
.md-typeset h1, 
.md-typeset h2, 
.md-typeset h3, 
.md-typeset h4, 
.md-typeset h5, 
.md-typeset h6 {
    font-variant: small-caps;
    letter-spacing: 0.8px;
}

/* H1 - Main Heading */
.md-typeset h1 {
    margin-top: -0.25em;   
    margin-bottom: 8px;
    font-weight: 400;
}

/* H2 - Secondary Heading with border */
.md-typeset h2 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 2px;
    margin: 12px 0 4.5px 0;
}

/* H3 - Tertiary Heading with line */
.md-typeset h3 {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 0.75rem;
    display: flex;
}

.md-typeset h3::after {
    content: ' ';
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    margin: 0 0 6px 10px;
    flex: 20 0 20px;
}

/* H4 - Complex part title */
.md-typeset h4 {
    font-weight: bold !important;
    text-transform: capitalize !important;
    font-size: 0.7rem;
    margin-top: 8px;
    margin-bottom: 4px;
}

/* H5 - Table title */
.md-typeset h5 {
    font-variant: normal !important;
    text-transform: capitalize;
    font-size: 0.575rem;
    font-weight: 450;
    margin-bottom: -2px;
}

/* -------------------------------- */
/* Theme Colours */
/* -------------------------------- */

/* Main Theme Colour */
[data-md-color-scheme=slate] {
    --md-code-bg-color: hsl(240, 8%, 21%);
}

/* Theme Neutral Colour for links */
[data-md-color-scheme="slate"][data-md-color-primary="black"] {
    --md-typeset-a-color: hsl(174, 100%, 40%);
}

.md-typeset .navbar-default {
    background-color: #2fa4e7;
    border-top-color: #1995dc;
}

/* -------------------------------- */
/* Icons */
/* -------------------------------- */

/* Icon Heading */
.ich1 {
    font-size: 4.5rem;
    margin: 0.25em 0 -0.25em;
}

/* Extra Large Icon */
.xxxxl {
    font-size: 5.5rem;
}

/* -------------------------------- */
/* Code Blocks */
/* -------------------------------- */

/* Inline Code */
.md-typeset code {
    padding: 3px 6px;
    font-weight: 400;
    font-size: 0.4rem;
    border-radius: 6px;
}

/* -------------------------------- */
/* Tool Tips */
/* -------------------------------- */
[role=tooltip] > .md-tooltip2__inner {
    padding: 0.45em 1.5em;
    max-width: 35rem;
    font-size: 0.7rem;
    font-weight: normal;
    border-radius: 4px;
}

/* -------------------------------- */
/* Grid Layout */
/* -------------------------------- */

/* Text Block Width */
.md-grid {
    max-width: 95%; /* Or 100% for full-width */
}

/* -------------------------------- */
/* Colour Classes */
/* -------------------------------- */

/* Dark Slate Colours */
.darkslategray {
    color: #32333d;
}

.darkslategrayaccent {
    color: #27272f;
}

/* -------------------------------- */
/* Icon Spacing */
/* -------------------------------- */

.pad-r {
    padding-right: 0.35em;
}

.pad-l {
    padding-left: 0.35em;
}

/* -------------------------------- */
/* Table Styles */
/* -------------------------------- */

/* Table Sizing and Appearance */
.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
    font-size: 0.55rem;
    padding: 5px 10px;
    border-bottom: rgba(255, 255, 255, 0.12);
    background-color: rgba(255, 255, 255, 0.025);
    min-width: 1px;
}

/* Disable Table Row Hover */
.md-typeset table:not([class]) tbody tr:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* Table Header Styling */
.md-typeset table:not([class]) th {
    font-weight: bold !important;
    text-transform: uppercase !important;
    vertical-align: bottom;
    color: rgba(255, 255, 255, 0.6);
    padding: 7px 10px;
}

/* Table Cell Rounding */
table th:first-child {
    border-radius: 6px 0 0 0 !important;
}

table th:last-child {
    border-radius: 0 6px 0 0 !important;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 6px !important;
}

table tr:last-child td:last-child {
    border-radius: 0 0 6px 0 !important;
}

/* Table Border and Width */
.md-typeset__table {
    width: 100%;
}

.md-typeset__table table:not([class]) {
    display: table;
    border-color: transparent;
}

/* -------------------------------- */
/* Divider Line */
/* -------------------------------- */

.md-typeset hr {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.15);
}
