/* Headings */
/* H1 */
.md-typeset h1 {
    margin-bottom: -0.15em;
}

/* H2 */
.md-typeset h2 {
/
}

.md-typeset h2::before {
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 0.125rem;
    content: " ";
    display: block;
    height: 0.25rem;
    width: 30px;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
}

/* H3 Styles - Add lines after Content*/
.md-typeset h3 {
    display: flex;
}

.md-typeset h3::after {
    content: " ";
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.12);
    margin: 0 0px 6px 0;
    flex: 20 0 20px;
}

/* H4 - Title beginning for complex parts */
.md-typeset h4 {
    /* font-size: 0.88rem;*/
    margin-bottom: -0.80em;
    font-weight: normal;
}

/* H5 - Title beginning reserved for tables */
.md-typeset h5 {
    font-weight: 400;
}