@import "./accent";

// ----------------------------------------------------------------------------
// Rules: primary colors
// ----------------------------------------------------------------------------

[data-md-color-scheme="slate"] {
    --md-hue: 210; /* (1)! */
}

@each $name,
    $colors
        in (
            "red": $clr-red-400 $clr-red-300 $clr-red-600,
            "pink": $clr-pink-500 $clr-pink-400 $clr-pink-700,
            "purple": $clr-purple-400 $clr-purple-300 $clr-purple-600,
            "deep-purple": $clr-deep-purple-400 $clr-deep-purple-300 $clr-deep-purple-500,
            "indigo": $clr-indigo-500 $clr-indigo-400 $clr-indigo-700,
            "blue": $clr-blue-500 $clr-blue-400 $clr-blue-700,
            "light-blue": $clr-light-blue-500 $clr-light-blue-400 $clr-light-blue-700,
            "cyan": $clr-cyan-500 $clr-cyan-400 $clr-cyan-700,
            "teal": $clr-teal-500 $clr-teal-400 $clr-teal-700,
            "green": $clr-green-500 $clr-green-400 $clr-green-700,
            "light-green": $clr-light-green-500 $clr-light-green-400 $clr-light-green-700,
            "lime": $clr-lime-500 $clr-lime-400 $clr-lime-700,
            "yellow": $clr-yellow-500 $clr-yellow-400 $clr-yellow-700,
            "amber": $clr-amber-500 $clr-amber-400 $clr-amber-700,
            "orange": $clr-orange-400 $clr-orange-400 $clr-orange-600,
            "deep-orange": $clr-deep-orange-400 $clr-deep-orange-300 $clr-deep-orange-600,
            "brown": $clr-brown-500 $clr-brown-400 $clr-brown-700,
            "grey": $clr-grey-600 $clr-grey-500 $clr-grey-700,
            "blue-grey": $clr-blue-grey-600 $clr-blue-grey-500 $clr-blue-grey-700
        )
{
    // Color palette
    [data-md-color-scheme="slate"][data-md-color-primary="#{$name}"] {
        /* Primary Colours */
        --md-primary-fg-color: hsla(#{hex2hsl(nth($colors, 1))}, 1);
        --md-primary-fg-color-light: hsla(#{hex2hsl(nth($colors, 2))}, 1);
        --md-primary-fg-color-dark: hsla(#{hex2hsl(nth($colors, 3))}, 1);
        --md-primary-fg-color-transparent: hsla(#{hex2hsl(nth($colors, 1))}, 0.15);

        /* Additional Darker Background Colours */
        --md-default-bg-color: hsla(var(--md-hue), 15%, 14%, 1);
        --md-default-bg-color--dark: hsla(var(--md-hue), 15%, 10%, 1);
        --md-default-bg-color--darker: hsla(var(--md-hue), 15%, 7%, 1);
        --md-default-bg-color--darkest: hsla(var(--md-hue), 15%, 4%, 1);

        /* Transparent Background Colour */

        --md-default-bg-color--25: hsla(var(--md-hue), 15%, 14%, 0.25);
        --md-default-bg-color--50: hsla(var(--md-hue), 15%, 14%, 0.5);
        --md-default-bg-color--75: hsla(var(--md-hue), 15%, 14%, 0.75);

        /* Background Colours */
        --md-primary-bg-color: var(--md-default-bg-color);
        --md-primary-bg-color-light: var(--md-default-bg-color--light);
    }
}
