@import "./dracula";

:root > * {
    // Custom code colors
    --md-code-link-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-link-accent-bg-color: var(--md-code-link-bg-color);
    --md-default-bg-color--trans: rgb(100%, 100%, 100%, 0);
    --md-code-title-bg-color: var(--md-code-bg-color);
    --md-code-inline-bg-color: var(--md-code-bg-color);

    --md-code-special-bg-color: #{darken(hsl(0, 0%, 96%), 5%)};
    --md-code-alternate-bg-color: var(--md-code-bg-color);

    --md-code-hl-punctuation-color: var(--md-code-fg-color);
    --md-code-hl-namespace-color: var(--md-code-fg-color);

    --md-code-hl-entity-color: var(--md-code-hl-keyword-color);
    --md-code-hl-tag-color: var(--md-code-hl-keyword-color);
    --md-code-hl-builtin-color: var(--md-code-hl-constant-color);
    --md-code-hl-class-color: var(--md-code-hl-function-color);

    // Keys colors
    --md-typeset-kbd-color: #{shade(hsla(0, 100%, 100%, 1), 8%)};
    --md-typeset-kbd-border-color: #{shade(hsla(0, 100%, 100%, 1), 28%)};
    --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);

    &[data-md-color-scheme="slate"] {
        // Custom code colors
        --md-code-link-bg-color: hsla(232, 15%, 15%, 1);
        --md-code-link-accent-bg-color: var(--md-code-link-bg-color);
        --md-code-special-bg-color: #{lighten(hsl(232, 15%, 15%), 5%)};
        --md-default-bg-color--trans: hsla(232, 15%, 15%, 0);

        // Keys colors
        --md-typeset-kbd-color: var(--md-default-fg-color--lightest);
        --md-typeset-kbd-border-color: #{darken(rgb(46, 48, 62), 9%)};
        --md-typeset-kbd-accent-color: var(--md-default-fg-color--lighter);
    }

    // ----------------------------------------------------------------------------
    // Rules: primary colors
    // ----------------------------------------------------------------------------

    @each $name,
        $colors
            in (
                "red": $drac-red lighten($drac-red, 5%) darken($drac-red, 5%),
                "pink": $drac-pink lighten($drac-pink, 5%) darken($drac-pink, 5%),
                "purple": $drac-purple lighten($drac-purple, 5%) darken($drac-purple, 5%),
                "deep-purple": $drac-purple lighten($drac-purple, 5%) darken($drac-purple, 5%),
                "blue": $drac-blue lighten($drac-blue, 5%) darken($drac-blue, 5%),
                "indigo": $drac-blue lighten($drac-blue, 5%) darken($drac-blue, 5%),
                "light-blue": $drac-blue lighten($drac-blue, 5%) darken($drac-blue, 5%),
                "cyan": $drac-cyan lighten($drac-cyan, 5%) darken($drac-cyan, 5%),
                "teal": $drac-cyan lighten($drac-cyan, 5%) darken($drac-cyan, 5%),
                "green": $drac-green lighten($drac-green, 5%) darken($drac-green, 5%),
                "light-green": $drac-green lighten($drac-green, 5%) darken($drac-green, 5%),
                "lime": $drac-green lighten($drac-green, 5%) darken($drac-green, 5%),
                "yellow": $drac-yellow lighten($drac-yellow, 5%) darken($drac-yellow, 5%),
                "amber": $drac-yellow lighten($drac-yellow, 5%) darken($drac-yellow, 5%),
                "orange": $drac-orange lighten($drac-orange, 5%) darken($drac-orange, 5%),
                "deep-orange": $drac-orange lighten($drac-orange, 5%) darken($drac-orange, 5%)
            )
    {
        // Color palette
        [data-md-color-primary="#{$name}"] {
            --md-mod-primary-code-bg-color: #{mix($drac-bg, nth($colors, 1), 85%)};
            --md-mod-primary-fg-color: hsla(#{hex2hsl(nth($colors, 1))}, 1);
            --md-mod-primary-fg-color--transparent: hsla(#{hex2hsl(nth($colors, 1))}, 0.1);
            --md-mod-primary-fg-color--light: hsla(#{hex2hsl(nth($colors, 2))}, 1);
            --md-mod-primary-fg-color--dark: hsla(#{hex2hsl(nth($colors, 3))}, 1);
            --md-mod-primary-bg-color: var(--md-default-bg-color);
            --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
        }
    }
}
