@use "sass:color";
@use "../utility/convert";
@use "../palette/accent";

/*------------------------------------------------------- 
    Admonitions
--------------------------------------------------------*/

.md-typeset {
    
    // Revert to Legacy
    .admonition,
    details {
        border: 0 solid;
        border-left-width: convert.px2rem(4px);
        box-shadow: var(--md-shadow-z3);
    }

    // Admonition Styles
    .admonition {
        --gbl-font-size: #{convert.px2rem(14px)};
        border-color: var(--md-admonition-icon-color--note);
        transition: box-shadow 250ms;

        .admonition-title {
            color: var(--md-gbl-text-color-strong);
            background-color: accent.$nord-polar0-darkest;
            abbr {
                border-bottom: none !important;
            }

        }

        hr {
            border-bottom: #{convert.px2em(3px)} solid rgba(255, 255, 255, 0.15);
            padding: 0 !important;
        }

        .grid {
            grid-template-columns: repeat(auto-fit, minmax(#{convert.px2rem(320px)}, 1fr));
        }
    }

    // Mixin for Admonition Styles
    @mixin admonitionStyles($type, $colour) {
        $convertedColour: convert.hex3hsl($colour);

        .admonition.#{$type},
        details.#{$type} {
            border-color: $convertedColour;
        }

        .admonition.#{$type} {
            > .admonition-title::before,
            > summary::before {
                background-color: $convertedColour;
                -webkit-mask-image: var(--md-icon--#{$type});
                mask-image: var(--md-icon--#{$type});
            }
        }
    }

    $admonitions: (
        "homebrew": #ffb624,
        "glossary": #4db6ac,
        "dice": accent.$nord-red,
        "action": #00bfa5,
        "bonusaction": #ffab00,
        "reaction": accent.$nord-indigo,
        "move": #ffd600
    );

    @each $type, $colour in $admonitions {
        @include admonitionStyles($type, $colour);
    }
}
