@use "../base/typeset";
@use "../utility/convert";
@use "../palette/accent";
@use "../utility/typography";

/*-------------------------------------------------------
    Horizontal Description List
-------------------------------------------------------*/

.md-typeset dl {
    display: grid;
    grid-template-columns: #{calc((var(--gbl-font-size) * 8))} auto;
    gap: convert.px2rem(12px) convert.px2rem(8px) !important; // row gap and column gap
    align-items: center;

    dt {
        text-align: right;
        border-right: #{convert.px2rem(4px)} solid var(--md-code-bg-color);
        padding-right: convert.px2rem(6px);
    }

    dd {
        // border-left: #{convert.px2rem(4px)} solid var(--md-code-bg-color);
        // padding-left: convert.px2rem(8px);
        border-radius: convert.px2rem(4px);
        margin: convert.px2em(0px) !important;
        p {
            margin-top: convert.px2em(3px);
            margin-bottom: convert.px2em(3px);
        }
    }
}

.md-typeset .remove-dd-border dd {
    border: none;
}

.md-typeset .remove-dt-border dt {
    border: none;
}

.md-typeset .dl-dt-center dl {
    @extend .remove-dt-border;
    dt {
        text-align: center;
    }
}

// Bootstrap Description List style
.md-typeset .dl-bootstrap dl {
    @extend .remove-dt-border;
    // grid-template-columns: #{calc((var(--gbl-font-size) * 8) * 1)} auto;
    grid-template-columns: 15% auto;
    align-items: start;
    // padding-bottom: convert.px2rem(6px);
    dt {
        text-align: start;
    }

    @media screen and (max-width: 720px) {
        grid-template-columns: 22.5% auto;
    }
}
