/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root > * {
  --md-code-link-bg-color: hsla(0, 0%, 96%, 1);
  --md-code-link-accent-bg-color: var(--md-code-link-bg-color);
  --md-default-bg-color--trans: rgb(100%, 100%, 100%, 0);
  --md-code-title-bg-color: var(--md-code-bg-color);
  --md-code-inline-bg-color: var(--md-code-bg-color);
  --md-code-special-bg-color: hsl(0, 0%, 91%);
  --md-code-alternate-bg-color: var(--md-code-bg-color);
  --md-code-hl-punctuation-color: var(--md-code-fg-color);
  --md-code-hl-namespace-color: var(--md-code-fg-color);
  --md-code-hl-entity-color: var(--md-code-hl-keyword-color);
  --md-code-hl-tag-color: var(--md-code-hl-keyword-color);
  --md-code-hl-builtin-color: var(--md-code-hl-constant-color);
  --md-code-hl-class-color: var(--md-code-hl-function-color);
  --md-typeset-kbd-color: shade(hsl(0, 100%, 100%), 8%);
  --md-typeset-kbd-border-color: shade(hsl(0, 100%, 100%), 28%);
  --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);
}
:root > *[data-md-color-scheme=slate] {
  --md-code-link-bg-color: hsla(232, 15%, 15%, 1);
  --md-code-link-accent-bg-color: var(--md-code-link-bg-color);
  --md-code-special-bg-color: hsl(232, 15%, 20%);
  --md-default-bg-color--trans: hsla(232, 15%, 15%, 0);
  --md-typeset-kbd-color: var(--md-default-fg-color--lightest);
  --md-typeset-kbd-border-color: rgb(26.45, 27.6, 35.65);
  --md-typeset-kbd-accent-color: var(--md-default-fg-color--lighter);
}
:root > * [data-md-color-primary=red] {
  --md-mod-primary-code-bg-color: rgb(71.41275, 47.923425, 57.87225);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(0, 100%, 67%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(0, 100%, 67%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(0, 100%, 72%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(0, 100%, 62%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=pink] {
  --md-mod-primary-code-bg-color: rgb(71.41275, 53.278425, 74.49825);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(326, 100%, 74%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(326, 100%, 74%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(326, 100%, 79%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(326, 100%, 69%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=purple] {
  --md-mod-primary-code-bg-color: rgb(61.749525, 57.264075, 82.1916);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(265, 89%, 78%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(265, 89%, 78%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(265, 89%, 83%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(265, 89%, 73%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=deep-purple] {
  --md-mod-primary-code-bg-color: rgb(61.749525, 57.264075, 82.1916);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(265, 89%, 78%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(265, 89%, 78%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(265, 89%, 83%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(265, 89%, 73%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=blue] {
  --md-mod-primary-code-bg-color: rgb(47.609775, 51.8956875, 69.435225);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(225, 27%, 51%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(225, 27%, 51%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(225, 27%, 56%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(225, 27%, 46%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=indigo] {
  --md-mod-primary-code-bg-color: rgb(47.609775, 51.8956875, 69.435225);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(225, 27%, 51%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(225, 27%, 51%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(225, 27%, 56%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(225, 27%, 46%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=light-blue] {
  --md-mod-primary-code-bg-color: rgb(47.609775, 51.8956875, 69.435225);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(225, 27%, 51%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(225, 27%, 51%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(225, 27%, 56%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(225, 27%, 46%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=cyan] {
  --md-mod-primary-code-bg-color: rgb(54.081675, 69.7755225, 82.853325);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(191, 97%, 77%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(191, 97%, 77%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(191, 97%, 82%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(191, 97%, 72%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=teal] {
  --md-mod-primary-code-bg-color: rgb(54.081675, 69.7755225, 82.853325);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(191, 97%, 77%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(191, 97%, 77%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(191, 97%, 82%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(191, 97%, 72%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=green] {
  --md-mod-primary-code-bg-color: rgb(45.441, 72.365175, 63.437625);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(135, 94%, 65%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(135, 94%, 65%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(135, 94%, 70%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(135, 94%, 60%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=light-green] {
  --md-mod-primary-code-bg-color: rgb(45.441, 72.365175, 63.437625);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(135, 94%, 65%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(135, 94%, 65%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(135, 94%, 70%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(135, 94%, 60%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=lime] {
  --md-mod-primary-code-bg-color: rgb(45.441, 72.365175, 63.437625);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(135, 94%, 65%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(135, 94%, 65%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(135, 94%, 70%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(135, 94%, 60%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=yellow] {
  --md-mod-primary-code-bg-color: rgb(69.27075, 72.434025, 65.49165);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(65, 92%, 76%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(65, 92%, 76%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(65, 92%, 81%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(65, 92%, 71%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=amber] {
  --md-mod-primary-code-bg-color: rgb(69.27075, 72.434025, 65.49165);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(65, 92%, 76%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(65, 92%, 76%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(65, 92%, 81%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(65, 92%, 71%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=orange] {
  --md-mod-primary-code-bg-color: rgb(71.41275, 62.445675, 60.93225);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(31, 100%, 71%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(31, 100%, 71%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(31, 100%, 76%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(31, 100%, 66%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=deep-orange] {
  --md-mod-primary-code-bg-color: rgb(71.41275, 62.445675, 60.93225);
  --md-mod-primary-fg-color: hsla(hex2hsl(hsl(31, 100%, 71%)), 1);
  --md-mod-primary-fg-color--transparent: hsla(hex2hsl(hsl(31, 100%, 71%)), 25%);
  --md-mod-primary-fg-color--light: hsla(hex2hsl(hsl(31, 100%, 76%)), 1);
  --md-mod-primary-fg-color--dark: hsla(hex2hsl(hsl(31, 100%, 66%)), 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}

:root {
  --md-admonition-icon--homebrew: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.5 3C7.56 3 5.85 4.24 5.23 6.08A3.996 3.996 0 0 0 6 14v8h11v-2h3c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1h-2V8c0-2.21-1.79-4-4-4h-1.68c-.82-.65-1.79-1-2.82-1m0 2c.79 0 1.53.37 2 1H14a2 2 0 0 1 2 2h-4c-2 0-2.68 1.13-3.5 2.63C7.68 12.13 6 12 6 12c-1.11 0-2-.89-2-2a2 2 0 0 1 2-2h1v-.5A2.5 2.5 0 0 1 9.5 5m7.5 7h2v6h-2Z"/></svg>');
}

.md-typeset .admonition.homebrew,
.md-typeset details.homebrew {
  border-color: rgb(255, 182, 36);
}
.md-typeset .homebrew > .admonition-title,
.md-typeset .homebrew > summary {
  background-color: rgba(255, 182, 36, 0.1);
}
.md-typeset .homebrew > .admonition-title::before,
.md-typeset .homebrew > summary::before {
  background-color: rgb(255, 182, 36);
  -webkit-mask-image: var(--md-admonition-icon--homebrew);
  mask-image: var(--md-admonition-icon--homebrew);
}

/* Icons */
.ich1 {
  font-size: 4.5rem;
  margin: 0.25em 0 -0.25em;
}

.xxxxl {
  font-size: 5.5rem;
}

.pad-r {
  padding-right: 0.35em;
}

.pad-l {
  padding-left: 0.35em;
}

/* Tool Tips */
[role=tooltip] > .md-tooltip2__inner {
  padding: 0.45em 1.5em;
  max-width: 35rem;
  font-size: 0.7rem;
  font-weight: normal;
  border-radius: 0.25em;
}

/* Grid Layout */
.md-grid {
  max-width: 86%; /* Or 100% for full-width */
}

/* Divider Line */
.md-typeset hr {
  border-bottom: 0.125em dashed rgba(255, 255, 255, 0.15);
}

.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
  font-size: 0.55rem;
  padding: 0.3125em 0.625em;
  border-bottom: rgba(255, 255, 255, 0.12);
  background-color: rgba(255, 255, 255, 0.025);
  min-width: 0.0625em;
}
.md-typeset table:not([class]) tbody tr:hover {
  background-color: rgba(0, 0, 0, 0);
}
.md-typeset table:not([class]) th {
  font-variant: normal;
  font-weight: bold !important;
  text-transform: capitalize !important;
  vertical-align: bottom;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.4375em 0.625em;
}

/* Table Cell Rounding */
table th:first-child {
  border-radius: 0.375em 0 0 0 !important;
}

table th:last-child {
  border-radius: 0 0.375em 0 0 !important;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 0.375em !important;
}

table tr:last-child td:last-child {
  border-radius: 0 0 0.375em 0 !important;
}

.md-typeset__table table:not([class]) {
  display: table;
  border-color: transparent;
}

.md-typeset__table {
  width: 100%;
}

.md-typeset {
  text-justify: auto;
  font-weight: 300;
  font-size: 0.6rem;
  letter-spacing: 0.015rem;
  /* Headings */
  /* Inline Code */
}
.md-typeset p {
  margin-bottom: 0.45rem;
  margin-top: 0.225rem;
}
.md-typeset ol,
.md-typeset ul,
.md-typeset li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.md-typeset strong {
  font-weight: 600;
}
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-variant: small-caps;
  letter-spacing: 0.04rem;
}
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-family: "Roboto Slab", serif;
}
.md-typeset h1 {
  margin-top: -0.25em;
  margin-bottom: 0.4rem;
  font-weight: 400;
}
.md-typeset h2 {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.25);
  padding-bottom: 0.1rem;
  margin: 0.6rem 0 0.225rem 0;
}
.md-typeset h3 {
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  display: flex;
}
.md-typeset h3::after {
  content: " ";
  padding-bottom: 0.1rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
  margin: 0 0 0.3rem 0.5rem;
  flex: 20 0 1rem;
}
.md-typeset h4 {
  font-weight: 550;
  font-variant: normal !important;
  font-size: 0.65rem;
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
  text-transform: capitalize !important;
}
.md-typeset h5 {
  font-variant: normal !important;
  text-transform: capitalize;
  font-size: 0.5rem;
  font-weight: 450;
  margin-bottom: -0.1rem;
}
.md-typeset code {
  padding: 0.15rem 0.3rem;
  font-weight: 400;
  border-radius: 0.3rem;
}

:root > * {
  --md-code-link-bg-color: hsla(0, 0%, 96%, 1);
  --md-code-link-accent-bg-color: var(--md-code-link-bg-color);
  --md-default-bg-color--trans: rgb(100%, 100%, 100%, 0);
  --md-code-title-bg-color: var(--md-code-bg-color);
  --md-code-inline-bg-color: var(--md-code-bg-color);
  --md-code-special-bg-color: hsl(0, 0%, 91%);
  --md-code-alternate-bg-color: var(--md-code-bg-color);
  --md-code-hl-punctuation-color: var(--md-code-fg-color);
  --md-code-hl-namespace-color: var(--md-code-fg-color);
  --md-code-hl-entity-color: var(--md-code-hl-keyword-color);
  --md-code-hl-tag-color: var(--md-code-hl-keyword-color);
  --md-code-hl-builtin-color: var(--md-code-hl-constant-color);
  --md-code-hl-class-color: var(--md-code-hl-function-color);
  --md-typeset-kbd-color: shade(hsl(0, 100%, 100%), 8%);
  --md-typeset-kbd-border-color: shade(hsl(0, 100%, 100%), 28%);
  --md-typeset-kbd-accent-color: hsla(0, 100%, 100%, 1);
}
:root > *[data-md-color-scheme=slate] {
  --md-code-link-bg-color: hsla(232, 15%, 15%, 1);
  --md-code-link-accent-bg-color: var(--md-code-link-bg-color);
  --md-code-special-bg-color: hsl(232, 15%, 20%);
  --md-default-bg-color--trans: hsla(232, 15%, 15%, 0);
  --md-typeset-kbd-color: var(--md-default-fg-color--lightest);
  --md-typeset-kbd-border-color: rgb(26.45, 27.6, 35.65);
  --md-typeset-kbd-accent-color: var(--md-default-fg-color--lighter);
}
:root > * [data-md-color-primary=red] {
  --md-mod-primary-code-bg-color: rgb(71.41275, 47.923425, 57.87225);
  --md-mod-primary-fg-color: hsla(0deg, 100%, 67%, 1);
  --md-mod-primary-fg-color--transparent: hsla(0deg, 100%, 67%, 25%);
  --md-mod-primary-fg-color--light: hsla(0deg, 100%, 72%, 1);
  --md-mod-primary-fg-color--dark: hsla(0deg, 100%, 62%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=pink] {
  --md-mod-primary-code-bg-color: rgb(71.41275, 53.278425, 74.49825);
  --md-mod-primary-fg-color: hsla(326deg, 100%, 74%, 1);
  --md-mod-primary-fg-color--transparent: hsla(326deg, 100%, 74%, 25%);
  --md-mod-primary-fg-color--light: hsla(326deg, 100%, 79%, 1);
  --md-mod-primary-fg-color--dark: hsla(326deg, 100%, 69%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=purple] {
  --md-mod-primary-code-bg-color: rgb(61.749525, 57.264075, 82.1916);
  --md-mod-primary-fg-color: hsla(265deg, 89%, 78%, 1);
  --md-mod-primary-fg-color--transparent: hsla(265deg, 89%, 78%, 25%);
  --md-mod-primary-fg-color--light: hsla(265deg, 89%, 83%, 1);
  --md-mod-primary-fg-color--dark: hsla(265deg, 89%, 73%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=deep-purple] {
  --md-mod-primary-code-bg-color: rgb(61.749525, 57.264075, 82.1916);
  --md-mod-primary-fg-color: hsla(265deg, 89%, 78%, 1);
  --md-mod-primary-fg-color--transparent: hsla(265deg, 89%, 78%, 25%);
  --md-mod-primary-fg-color--light: hsla(265deg, 89%, 83%, 1);
  --md-mod-primary-fg-color--dark: hsla(265deg, 89%, 73%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=blue] {
  --md-mod-primary-code-bg-color: rgb(47.609775, 51.8956875, 69.435225);
  --md-mod-primary-fg-color: hsla(225deg, 27%, 51%, 1);
  --md-mod-primary-fg-color--transparent: hsla(225deg, 27%, 51%, 25%);
  --md-mod-primary-fg-color--light: hsla(225deg, 27%, 56%, 1);
  --md-mod-primary-fg-color--dark: hsla(225deg, 27%, 46%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=indigo] {
  --md-mod-primary-code-bg-color: rgb(47.609775, 51.8956875, 69.435225);
  --md-mod-primary-fg-color: hsla(225deg, 27%, 51%, 1);
  --md-mod-primary-fg-color--transparent: hsla(225deg, 27%, 51%, 25%);
  --md-mod-primary-fg-color--light: hsla(225deg, 27%, 56%, 1);
  --md-mod-primary-fg-color--dark: hsla(225deg, 27%, 46%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=light-blue] {
  --md-mod-primary-code-bg-color: rgb(47.609775, 51.8956875, 69.435225);
  --md-mod-primary-fg-color: hsla(225deg, 27%, 51%, 1);
  --md-mod-primary-fg-color--transparent: hsla(225deg, 27%, 51%, 25%);
  --md-mod-primary-fg-color--light: hsla(225deg, 27%, 56%, 1);
  --md-mod-primary-fg-color--dark: hsla(225deg, 27%, 46%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=cyan] {
  --md-mod-primary-code-bg-color: rgb(54.081675, 69.7755225, 82.853325);
  --md-mod-primary-fg-color: hsla(191deg, 97%, 77%, 1);
  --md-mod-primary-fg-color--transparent: hsla(191deg, 97%, 77%, 25%);
  --md-mod-primary-fg-color--light: hsla(191deg, 97%, 82%, 1);
  --md-mod-primary-fg-color--dark: hsla(191deg, 97%, 72%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=teal] {
  --md-mod-primary-code-bg-color: rgb(54.081675, 69.7755225, 82.853325);
  --md-mod-primary-fg-color: hsla(191deg, 97%, 77%, 1);
  --md-mod-primary-fg-color--transparent: hsla(191deg, 97%, 77%, 25%);
  --md-mod-primary-fg-color--light: hsla(191deg, 97%, 82%, 1);
  --md-mod-primary-fg-color--dark: hsla(191deg, 97%, 72%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=green] {
  --md-mod-primary-code-bg-color: rgb(45.441, 72.365175, 63.437625);
  --md-mod-primary-fg-color: hsla(135deg, 94%, 65%, 1);
  --md-mod-primary-fg-color--transparent: hsla(135deg, 94%, 65%, 25%);
  --md-mod-primary-fg-color--light: hsla(135deg, 94%, 70%, 1);
  --md-mod-primary-fg-color--dark: hsla(135deg, 94%, 60%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=light-green] {
  --md-mod-primary-code-bg-color: rgb(45.441, 72.365175, 63.437625);
  --md-mod-primary-fg-color: hsla(135deg, 94%, 65%, 1);
  --md-mod-primary-fg-color--transparent: hsla(135deg, 94%, 65%, 25%);
  --md-mod-primary-fg-color--light: hsla(135deg, 94%, 70%, 1);
  --md-mod-primary-fg-color--dark: hsla(135deg, 94%, 60%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=lime] {
  --md-mod-primary-code-bg-color: rgb(45.441, 72.365175, 63.437625);
  --md-mod-primary-fg-color: hsla(135deg, 94%, 65%, 1);
  --md-mod-primary-fg-color--transparent: hsla(135deg, 94%, 65%, 25%);
  --md-mod-primary-fg-color--light: hsla(135deg, 94%, 70%, 1);
  --md-mod-primary-fg-color--dark: hsla(135deg, 94%, 60%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=yellow] {
  --md-mod-primary-code-bg-color: rgb(69.27075, 72.434025, 65.49165);
  --md-mod-primary-fg-color: hsla(65deg, 92%, 76%, 1);
  --md-mod-primary-fg-color--transparent: hsla(65deg, 92%, 76%, 25%);
  --md-mod-primary-fg-color--light: hsla(65deg, 92%, 81%, 1);
  --md-mod-primary-fg-color--dark: hsla(65deg, 92%, 71%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=amber] {
  --md-mod-primary-code-bg-color: rgb(69.27075, 72.434025, 65.49165);
  --md-mod-primary-fg-color: hsla(65deg, 92%, 76%, 1);
  --md-mod-primary-fg-color--transparent: hsla(65deg, 92%, 76%, 25%);
  --md-mod-primary-fg-color--light: hsla(65deg, 92%, 81%, 1);
  --md-mod-primary-fg-color--dark: hsla(65deg, 92%, 71%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=orange] {
  --md-mod-primary-code-bg-color: rgb(71.41275, 62.445675, 60.93225);
  --md-mod-primary-fg-color: hsla(31deg, 100%, 71%, 1);
  --md-mod-primary-fg-color--transparent: hsla(31deg, 100%, 71%, 25%);
  --md-mod-primary-fg-color--light: hsla(31deg, 100%, 76%, 1);
  --md-mod-primary-fg-color--dark: hsla(31deg, 100%, 66%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}
:root > * [data-md-color-primary=deep-orange] {
  --md-mod-primary-code-bg-color: rgb(71.41275, 62.445675, 60.93225);
  --md-mod-primary-fg-color: hsla(31deg, 100%, 71%, 1);
  --md-mod-primary-fg-color--transparent: hsla(31deg, 100%, 71%, 25%);
  --md-mod-primary-fg-color--light: hsla(31deg, 100%, 76%, 1);
  --md-mod-primary-fg-color--dark: hsla(31deg, 100%, 66%, 1);
  --md-mod-primary-bg-color: var(--md-default-bg-color);
  --md-mod-primary-bg-color--light: var(--md-default-bg-color--light);
}

.md-sidebar--primary {
  width: 11rem;
}

.md-sidebar--secondary {
  width: 13.5rem;
}

[data-md-color-scheme=slate] {
  --md-text-color: var(--md-default-fg-color);
  background-color: var(--md-default-bg-color);
}
[data-md-color-scheme=slate] .md-header {
  color: var(--md-text-color);
  background-color: var(--md-default-bg-color);
  border-bottom: 0.125rem solid var(--md-primary-fg-color);
}
[data-md-color-scheme=slate] .md-header[data-md-state=shadow] {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15), 0 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}
[data-md-color-scheme=slate] .md-top {
  background-color: var(--md-default-bg-color--dark);
}
[data-md-color-scheme=slate] .md-top:hover {
  background-color: var(--md-primary-fg-color);
}
[data-md-color-scheme=slate] .md-tabs {
  color: var(--md-text-color);
  background-color: var(--md-mod-primary-fg-color--transparent);
}
[data-md-color-scheme=slate] .md-tabs__link--active {
  color: var(--md-primary-fg-color);
}
[data-md-color-scheme=slate] .md-tabs__link:hover {
  color: var(--md-accent-fg-color);
}

.md-typeset .tabbed-block {
  margin-bottom: 0;
  padding-bottom: 0.1rem;
}

/*# sourceMappingURL=extra.css.map */
