@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*------------------------------------------------------- 
    Basic Typesets
--------------------------------------------------------*/
.md-typeset {
  --default-font-size: 0.75rem;
  --default-font-weight: 300;
  font-size: var(--default-font-size);
}
@media screen and (max-width: 720px) {
  .md-typeset {
    --default-font-size: 0.65rem;
  }
}
.md-typeset strong {
  letter-spacing: 0.0225rem;
  color: var(--md-gbl-text-color-strong);
}
.md-typeset p {
  margin: 0.5rem 0;
}
.md-typeset ul,
.md-typeset ol {
  margin: 0rem 0;
}
.md-typeset li {
  margin: -0.2rem 0;
}
.md-typeset dl,
.md-typeset dd {
  margin: -0.1rem 0;
}
.md-typeset dd {
  margin-left: -0.4rem;
}
.md-typeset h1,
.md-typeset h2 {
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
}
.md-typeset h3,
.md-typeset h4 {
  color: var(--md-gbl-text-color-strong);
  font-family: "Jost", sans-serif;
  text-transform: none !important;
  font-variant: small-caps !important;
}
.md-typeset h1 {
  font-size: calc(var(--default-font-size) * 2.2);
  letter-spacing: calc(var(--default-font-size) * 0.02);
  font-weight: calc(var(--default-font-weight) * 1.65);
  margin: 0.45rem 0;
}
.md-typeset h2 {
  font-size: calc(var(--default-font-size) * 1.75);
  font-weight: calc(var(--default-font-weight) * 1.5);
  letter-spacing: calc(var(--default-font-size) * 0.075);
  border-bottom: 0.125rem solid var(--md-default-wht--025);
  margin: 0.9rem 0 0.2rem 0;
  padding-bottom: 0.1rem;
}
.md-typeset h3 {
  font-size: calc(var(--default-font-size) * 1.5);
  font-weight: 530;
  letter-spacing: calc(var(--default-font-size) * 0.045);
  margin: 0.5rem 0;
  border-bottom: 0.1275rem dotted var(--md-default-wht--025);
  padding-bottom: 0.2rem;
}
.md-typeset h4 {
  font-size: calc(var(--default-font-size) * 1.25);
  letter-spacing: calc(var(--default-font-size) * 0.03);
  font-weight: 550;
  margin: 0.6rem 0 -0.3rem 0;
  padding-bottom: -0.1rem;
}
.md-typeset h5 {
  font-size: var(--default-font-size);
  letter-spacing: calc(var(--default-font-size) * 0.03);
  font-weight: 500;
  text-transform: capitalize !important;
  margin-bottom: -0.2rem;
  padding-bottom: -0.2rem;
}
.md-typeset h6 {
  font-size: calc(var(--default-font-size) * 0.85);
  font-weight: 350;
}

.md-typeset hr {
  border-bottom: 0.1875em dashed rgba(255, 255, 255, 0.15);
  padding-top: 0.2rem;
}

.xxxxl {
  font-size: 5.5rem;
}

/*------------------------------------------------------- 
    Tables
--------------------------------------------------------*/
.md-typeset table:not([class]) {
  --table-font-size: calc(var(--default-font-size) * 0.9);
}
.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
  padding: 0.375em 1em;
  min-width: 0.0625em;
}
.md-typeset table:not([class]) th {
  font-size: var(--table-font-size);
  font-weight: bold !important;
  text-transform: capitalize !important;
  vertical-align: bottom;
  color: var(--md-text-color);
  border-bottom: 0.125rem solid var(--md-primary-fg-color);
  background-color: var(--md-mod-table-color--darkest);
  padding: 0.525em 1em;
}
.md-typeset table:not([class]) td {
  font-size: calc(var(--table-font-size) * 0.9);
  border: 0rem transparent !important;
  vertical-align: middle;
}
.md-typeset table:not([class]) td b,
.md-typeset table:not([class]) td strong {
  font-weight: calc(var(--default-font-weight, 400) * 1.8);
}
@media screen and (max-width: 768px) {
  .md-typeset table:not([class]) th {
    font-size: calc(var(--table-font-size) * 0.9);
  }
  .md-typeset table:not([class]) td {
    font-size: calc(var(--table-font-size) * 0.8);
  }
}
.md-typeset table:not([class]) tr:hover {
  background-color: inherit !important;
}
.md-typeset table:not([class]) tr:nth-child(odd) {
  background-color: transparent !important;
}
.md-typeset table:not([class]) tr:nth-child(even) {
  background-color: var(--md-mod-table-color--light) !important;
}
.md-typeset__table {
  width: 100%;
}
.md-typeset__table table:not([class]) {
  box-shadow: var(--md-shadow-z2);
  margin: 0rem;
  display: table;
  border-color: transparent !important;
}

/*------------------------------------------------------- 
    Typography
--------------------------------------------------------*/
.em, .inl, .rsc-h, .rsc, .d20 {
  white-space: nowrap; /* Prevent selected block to split on smaller screen sizes, used in conjuction with icons */
  font-weight: 550 !important;
}
.em abbr, .inl abbr, .rsc-h abbr, .rsc abbr, .d20 abbr {
  border-bottom: none !important;
}

.background {
  background-color: hsla(0, 0%, 0%, 0.15);
  padding: 0.125em 0.28125em;
  border-radius: 0.25em;
}

.smallcap, .d20 {
  font-size: calc(var(--default-font-size) * 1.05);
  font-variant: small-caps !important;
  /* Make font smallcaps so it looks different than the rest */
  letter-spacing: calc(var(--default-font-size) * 0.04) !important;
  /* Wider letterspacing for easier read */
}
.smallcap :is(.emojione, .twemoji, .gemoji), .d20 :is(.emojione, .twemoji, .gemoji) {
  font-size: var(--default-font-size);
  vertical-align: -0.1875em;
}
table:not([class]) .smallcap, table:not([class]) .d20 {
  font-size: calc(var(--table-font-size)) !important;
}
table:not([class]) .smallcap :is(.emojione, .twemoji, .gemoji), table:not([class]) .d20 :is(.emojione, .twemoji, .gemoji) {
  font-size: var(--table-font-size);
  vertical-align: -0.1875em;
}

.rsc {
  font-family: "Roboto", serif;
}

.rsc-h :is(.emojione, .twemoji, .gemoji) {
  vertical-align: -0.1875em;
}

.inl {
  display: inline-block;
  position: relative;
}
.inl::before {
  content: "«";
  color: var(--md-default-fg-color--light);
  margin-right: 0.1875em;
}
.inl::after {
  content: "»";
  color: var(--md-default-fg-color--light);
  margin-left: 0.1875em;
}

.indent {
  text-indent: -0.5em;
  padding-left: 1.5em;
}

/* Damage-type Dynamic Class Generation */
/* Damage type: acid */
.dmg-acid {
  color: hsl(129, 69%, 54%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: cold */
.dmg-cold {
  color: hsl(199, 91%, 64%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: fire */
.dmg-fire {
  color: hsl(28, 96%, 47%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: posn */
.dmg-posn {
  color: hsl(104, 58%, 42%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: thun */
.dmg-thun {
  color: hsl(262, 47%, 63%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: psyc */
.dmg-psyc {
  color: hsl(328, 71%, 61%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: lgtn */
.dmg-lgtn {
  color: hsl(208, 79%, 51%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: necr */
.dmg-necr {
  color: hsl(174, 42%, 65%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: radi */
.dmg-radi {
  color: hsl(54, 100%, 67%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: force */
.dmg-force {
  color: hsl(4, 100%, 71%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: phys */
.dmg-phys {
  color: hsl(200, 15%, 73%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/* Damage type: heal */
.dmg-heal {
  color: hsl(180, 80%, 67%) !important;
  white-space: nowrap;
  font-weight: 500 !important;
  font-style: none !important;
}

/*------------------------------------------------------- 
    Accent Colours
--------------------------------------------------------*/
/*------------------------------------------------------- 
    Colours
--------------------------------------------------------*/
[data-md-color-scheme=slate] {
  --md-hue: 215;
}

[data-md-color-scheme=slate][data-md-color-primary=red] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(4deg, 90%, 58%, 1);
  --md-primary-fg-color-light: hsla(4deg, 90%, 63%, 1);
  --md-primary-fg-color-dark: hsla(4deg, 90%, 53%, 1);
  --md-primary-fg-color-transparent: hsla(4deg, 90%, 58%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=pink] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(340deg, 82%, 52%, 1);
  --md-primary-fg-color-light: hsla(340deg, 82%, 57%, 1);
  --md-primary-fg-color-dark: hsla(340deg, 82%, 47%, 1);
  --md-primary-fg-color-transparent: hsla(340deg, 82%, 52%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=purple] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(291deg, 64%, 42%, 1);
  --md-primary-fg-color-light: hsla(291deg, 64%, 47%, 1);
  --md-primary-fg-color-dark: hsla(291deg, 64%, 37%, 1);
  --md-primary-fg-color-transparent: hsla(291deg, 64%, 42%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=deep-purple] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(262deg, 52%, 47%, 1);
  --md-primary-fg-color-light: hsla(262deg, 52%, 52%, 1);
  --md-primary-fg-color-dark: hsla(262deg, 52%, 42%, 1);
  --md-primary-fg-color-transparent: hsla(262deg, 52%, 47%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=blue] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(207deg, 90%, 54%, 1);
  --md-primary-fg-color-light: hsla(207deg, 90%, 59%, 1);
  --md-primary-fg-color-dark: hsla(207deg, 90%, 49%, 1);
  --md-primary-fg-color-transparent: hsla(207deg, 90%, 54%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=indigo] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(231deg, 48%, 48%, 1);
  --md-primary-fg-color-light: hsla(231deg, 48%, 53%, 1);
  --md-primary-fg-color-dark: hsla(231deg, 48%, 43%, 1);
  --md-primary-fg-color-transparent: hsla(231deg, 48%, 48%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=light-blue] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(199deg, 98%, 48%, 1);
  --md-primary-fg-color-light: hsla(199deg, 98%, 53%, 1);
  --md-primary-fg-color-dark: hsla(199deg, 98%, 43%, 1);
  --md-primary-fg-color-transparent: hsla(199deg, 98%, 48%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=cyan] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(187deg, 100%, 42%, 1);
  --md-primary-fg-color-light: hsla(187deg, 100%, 47%, 1);
  --md-primary-fg-color-dark: hsla(187deg, 100%, 37%, 1);
  --md-primary-fg-color-transparent: hsla(187deg, 100%, 42%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=teal] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(174deg, 100%, 29%, 1);
  --md-primary-fg-color-light: hsla(174deg, 100%, 34%, 1);
  --md-primary-fg-color-dark: hsla(174deg, 100%, 24%, 1);
  --md-primary-fg-color-transparent: hsla(174deg, 100%, 29%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=green] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(122deg, 39%, 49%, 1);
  --md-primary-fg-color-light: hsla(122deg, 39%, 54%, 1);
  --md-primary-fg-color-dark: hsla(122deg, 39%, 44%, 1);
  --md-primary-fg-color-transparent: hsla(122deg, 39%, 49%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=light-green] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(88deg, 50%, 53%, 1);
  --md-primary-fg-color-light: hsla(88deg, 50%, 58%, 1);
  --md-primary-fg-color-dark: hsla(88deg, 50%, 48%, 1);
  --md-primary-fg-color-transparent: hsla(88deg, 50%, 53%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=lime] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(66deg, 70%, 54%, 1);
  --md-primary-fg-color-light: hsla(66deg, 70%, 59%, 1);
  --md-primary-fg-color-dark: hsla(66deg, 70%, 49%, 1);
  --md-primary-fg-color-transparent: hsla(66deg, 70%, 54%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=yellow] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(54deg, 100%, 62%, 1);
  --md-primary-fg-color-light: hsla(54deg, 100%, 67%, 1);
  --md-primary-fg-color-dark: hsla(54deg, 100%, 57%, 1);
  --md-primary-fg-color-transparent: hsla(54deg, 100%, 62%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=amber] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(45deg, 100%, 51%, 1);
  --md-primary-fg-color-light: hsla(45deg, 100%, 56%, 1);
  --md-primary-fg-color-dark: hsla(45deg, 100%, 46%, 1);
  --md-primary-fg-color-transparent: hsla(45deg, 100%, 51%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=orange] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(36deg, 100%, 50%, 1);
  --md-primary-fg-color-light: hsla(36deg, 100%, 55%, 1);
  --md-primary-fg-color-dark: hsla(36deg, 100%, 45%, 1);
  --md-primary-fg-color-transparent: hsla(36deg, 100%, 50%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

[data-md-color-scheme=slate][data-md-color-primary=deep-orange] {
  /* Global Text Colour */
  --md-gbl-text-color: hsla(0, 0%, 100%, 0.75);
  --md-gbl-text-color-strong: hsla(0, 0%, 95%, 0.85);
  /* Primary Colour Variants */
  --md-primary-fg-color: hsla(14deg, 100%, 57%, 1);
  --md-primary-fg-color-light: hsla(14deg, 100%, 62%, 1);
  --md-primary-fg-color-dark: hsla(14deg, 100%, 52%, 1);
  --md-primary-fg-color-transparent: hsla(14deg, 100%, 57%, 0.15);
  /* Background Colours */
  --md-default-bg-color: hsla(215, 15%, 14%, 1);
  --md-default-bg-color--dark: hsla(215, 15%, 10%, 1);
  --md-default-bg-color--darker: hsla(215, 15%, 7%, 1);
  --md-default-bg-color--darkest: hsla(215, 15%, 4%, 1);
  /* Lighter Background Variants */
  --md-default-bg-color--light: hsla(215, 15%, 18%, 1);
  --md-default-bg-color--lighter: hsla(215, 15%, 22%, 1);
  --md-default-bg-color--lightest: hsla(215, 15%, 26%, 1);
  /* Transparent Background Colour Options */
  --md-default-bg-color--25: hsla(215, 15%, 14%, 0.25);
  --md-default-bg-color--50: hsla(215, 15%, 14%, 0.5);
  --md-default-bg-color--75: hsla(215, 15%, 14%, 0.75);
  /* Transparent White Colour */
  --md-default-wht--0125: hsla(0, 0%, 100%, 0.125);
  --md-default-wht--025: hsla(0, 0%, 100%, 0.25);
  --md-default-wht--050: hsla(0, 0%, 100%, 0.5);
  --md-default-blk--0125: hsla(0, 0%, 0%, 0.125);
  --md-default-blk--025: hsla(0, 0%, 0%, 0.25);
  --md-default-blk--050: hsla(0, 0%, 0%, 0.5);
  /* Link and Secondary Colours */
  --md-primary-bg-color: var(--md-default-bg-color);
  --md-primary-bg-color-light: var(--md-default-bg-color--light);
  /* Table Colour */
  --md-mod-table-color--darkest: hsla(0, 0%, 0%, 0.45);
  --md-mod-table-color--light: hsla(0, 0%, 100%, 0.035);
}

/*------------------------------------------------------- 
    Icons. 
--------------------------------------------------------*/
:root {
  --md-icon--adapted: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15 20H9v-8H4.16L12 4.16 19.84 12H15z"/></svg>');
  --md-icon--draft: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 19.88V22l-1.8-1.17-4.79-9c.66-.21 1.26-.55 1.78-1zM15 7a3 3 0 0 1-3 3h-.44L5.8 20.83 4 22v-2.12L9.79 9c-1.1-1.23-1-3.13.24-4.24C10.57 4.28 11.27 4 12 4V2a1 1 0 0 1 1 1v1.18c1.2.42 2 1.55 2 2.82m-2 0a1 1 0 0 0-1-1 1 1 0 0 0-1 1 1 1 0 0 0 1 1 1 1 0 0 0 1-1"/></svg>');
  --md-icon--homebrew: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.5 3C7.56 3 5.85 4.24 5.23 6.08A3.996 3.996 0 0 0 6 14v8h11v-2h3c.55 0 1-.45 1-1v-8c0-.55-.45-1-1-1h-2V8c0-2.21-1.79-4-4-4h-1.68c-.82-.65-1.79-1-2.82-1m0 2c.79 0 1.53.37 2 1H14a2 2 0 0 1 2 2h-4c-2 0-2.68 1.13-3.5 2.63S6 12 6 12c-1.11 0-2-.89-2-2a2 2 0 0 1 2-2h1v-.5A2.5 2.5 0 0 1 9.5 5m7.5 7h2v6h-2Z"/></svg>');
  --md-icon--glossary: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18 22a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-6v7L9.5 7.5 7 9V2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2z"/></svg>');
  --md-icon--statblock: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3.921 2.217C4.859 1.297 6.122.742 7.988.838c2.944.152 4.358 2.096 4.358 4.193 0 1.011-.536 2.363-1.276 3.323-.045-.044-.083-.087-.13-.131a21 21 0 0 0-.49-.436c-.484-.421-1.03-.905-1.397-1.426.807-1.413.346-3.414-1.359-3.414-.998 0-1.83.88-1.759 2.047-.26.552-.387 1.352-.337 2.062-.489-.295-.901-.618-1.095-1.067l-.626-1.445-.493 1.492a2.5 2.5 0 0 0-.088 1.135l-.01-.001a3.27 3.27 0 0 1-.555-1.57c-.18-1.908.764-2.964 1.19-3.383m-.45 6.824c.114-.434-.778-1.173-1.11-1.311 1.224-.047 1.833.175 1.833.175-.32-.454-.423-1.146-.242-1.695.667 1.539 3.052 1.786 3.642 3.062-.084-.55-.625-1.169-1.253-1.53-.337-.838-.085-2.383.327-2.808-.145 2.22 3.149 3.49 3.832 5.105-.4-1.383-1.936-2.258-2.664-3.086-.24-.55-.056-1.48.205-1.799-.077 1.488 1.592 2.648 2.483 3.48 1.051.979 1.349 1.845 1.207 2.553.23.058.547.273.493.638.336-.075.677-.445.76-.673.165 1.104-.51 2.273-1.266 2.621 0 0 .203-.527-.141-.93-.34-.398-1.305-.403-1.631-.38 0 0 .4-.57.242-.86-.2-.357-2.087-.2-2.93.094.287-.03.967.044 1.205.14-.132.189-.478.989-.23 1.229.23.22.53-.162.53-.162s-.294.875-.082 1.078c.21.203.662.059.662.059-.281.687-1.379 1.16-2.146 1.16.274-.084.725-.553.795-.836-.2.097-.726.153-.928.117.248-.097.746-.712.592-1.405-.229-1.009-1.69-1.137-2.425-.649.238-.678.95-1.312 1.507-1.52a7.5 7.5 0 0 0-1.117-.273c.468-.369 1.642-.67 2.241-.639-.914-.225-2.586.057-3.352.927.245 0 .875.114 1.118.19-1.048.182-2.478 1.122-2.898 1.566.11-.584.28-1.08.136-1.43-.202-.497-.826-.704-2.07-.457.84-.809 2.56-1.31 2.676-1.751zm5.724.783c.166.563.39 1.08 1.097 1.08 0 0-.248-.779-1.097-1.08m10.479 6.203c.533.088 1.282.635 1.282 1.417 0 1.275-1.652 1.667-2.566 1.469.97-.648.84-2.512-.326-3.178.395 1.045-.79 2.082-1.942 1.172-.641-.506-2.123-1.694-2.785-2.206-.66-.511-1.434-.214-1.74-.437-.348-.254-.125-.97-.6-1.236-.399-.222-.79-.098-1.253-.246-.42-.133-.733-.448-.68-.872-.178.303-.19.83.129 1.186.316.352.844.57 1.062.957.282.5-.193 1.196 1.062 2.143.6.452 1.53 1.195 2.137 1.707 1.021.862.476 1.94.61 2.879.155 1.096 1.072 1.704 1.682 1.858-.526-.46-.725-1.62.014-2.33.038.916.725 2.35 2.292 2.753 1.667.427 3.439-.482 3.807-1.122-.643.28-1.854-.022-2.353-.472 1.956.267 3.686-1.038 3.686-2.712 0-1.633-1.645-2.898-3.518-2.73m-8.5.793c-.667 1.1-2.088 2.531-3.529 2.531-2.651 0-3.98-3.61-1.007-6.564a1.4 1.4 0 0 0-.4-.06c-.255 0-.504.064-.668.174l-1.168.776.264-1.432a2 2 0 0 1 .093-.225c-.675.322-1.339.782-1.588 1.045L2.02 14.28l.122-1.703q.04-.2.08-.385c.06-.275.135-.618.089-.732a.2.2 0 0 0-.083-.091C1.68 11.775.177 13.055 0 14.936c0 0 .291-.395.544-.487.167-.062.313.017.153.487-.061.184-1.51 3.96 1.34 6.57 0 0-.312-.768-.124-1 .092-.114.212-.123.376.08.123.156.251.306.438.51s.447.447.729.657c.853.575 2.011 1.037 3.329 1.037 3.526 0 5.395-2.34 6.43-4.305a2 2 0 0 0-.155-.15 57 57 0 0 0-1.887-1.515zm1.91-2.884c.208.067.42.158.627.319.244.188.603.471.987.776.306-.65 1.009-2.003 2.097-3.204.98-1.08 2.69-1.184 3.588-.526.577-.502 2.569-.974 3.617-.687-.639-.668-1.996-1.564-3.496-1.564-1.237 0-1.936.583-2.113.32-.228-.336.837-.833.837-.833-1.46.058-2.523 1.711-2.966 1.505-.262-.12.395-.92.395-.92-1.336.746-2.455 2.328-2.688 3.291 1.229-1.448 3.614-2.486 5.166-2.267-2.629.122-4.891 2.276-6.05 3.79Z"/></svg>');
}

/*------------------------------------------------------- 
    Admonitions
--------------------------------------------------------*/
/* Revert to Legacy */
.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
  box-shadow: var(--md-shadow-z3);
}

/* Add Shadow */
.md-typeset .admonition {
  border-color: var(--md-admonition-icon-color--note);
  box-shadow: var(--md-shadow-z3);
  transition: box-shadow 250ms;
}

.md-typeset .admonition.homebrew,
.md-typeset details.homebrew {
  border-color: hsl(40, 100%, 57%);
}
.md-typeset .homebrew > .admonition-title,
.md-typeset .homebrew > summary {
  background-color: hsla(40, 100%, 57%, 0.1);
}
.md-typeset .homebrew > .admonition-title::before,
.md-typeset .homebrew > summary::before {
  background-color: hsl(40, 100%, 57%);
  -webkit-mask-image: var(--md-icon--homebrew);
  mask-image: var(--md-icon--homebrew);
}
.md-typeset .admonition.glossary,
.md-typeset details.glossary {
  border-color: hsl(174, 42%, 51%);
}
.md-typeset .glossary > .admonition-title,
.md-typeset .glossary > summary {
  background-color: hsla(174, 42%, 51%, 0.1);
}
.md-typeset .glossary > .admonition-title::before,
.md-typeset .glossary > summary::before {
  background-color: hsl(174, 42%, 51%);
  -webkit-mask-image: var(--md-icon--glossary);
  mask-image: var(--md-icon--glossary);
}

/*------------------------------------------------------- 
    Monster Statblock
--------------------------------------------------------*/
.md-typeset .admonition.statblock,
.md-typeset details.statblock {
  border-color: hsl(40, 100%, 57%);
  border-width: 2px !important;
}
.md-typeset .admonition.statblock table:not([class]),
.md-typeset details.statblock table:not([class]) {
  width: auto !important;
  white-space: nowrap !important;
  box-shadow: none !important;
}
.md-typeset .admonition.statblock table:not([class]) td,
.md-typeset .admonition.statblock table:not([class]) th,
.md-typeset details.statblock table:not([class]) td,
.md-typeset details.statblock table:not([class]) th {
  padding: 0.5em !important;
}
.md-typeset .admonition.statblock table:not([class]) th,
.md-typeset details.statblock table:not([class]) th {
  font-size: var(--table-font-size) !important;
  background-color: transparent !important;
  border-bottom: transparent;
  font-weight: normal;
  color: var(--md-default-wht--050);
  text-transform: capitalize !important;
}
.md-typeset .admonition.statblock table:not([class]) td,
.md-typeset details.statblock table:not([class]) td {
  font-size: calc(var(--table-font-size) * 1.15) !important;
}
.md-typeset .admonition.statblock table:not([class]) tr:nth-child(odd),
.md-typeset .admonition.statblock table:not([class]) tr:nth-child(even),
.md-typeset details.statblock table:not([class]) tr:nth-child(odd),
.md-typeset details.statblock table:not([class]) tr:nth-child(even) {
  background-color: transparent !important;
}
.md-typeset .admonition.statblock table:not([class]) td:nth-child(1),
.md-typeset .admonition.statblock table:not([class]) td:nth-child(2),
.md-typeset .admonition.statblock table:not([class]) td:nth-child(5),
.md-typeset .admonition.statblock table:not([class]) td:nth-child(6),
.md-typeset details.statblock table:not([class]) td:nth-child(1),
.md-typeset details.statblock table:not([class]) td:nth-child(2),
.md-typeset details.statblock table:not([class]) td:nth-child(5),
.md-typeset details.statblock table:not([class]) td:nth-child(6) {
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
  background-color: var(--md-default-blk--0125) !important;
  font-weight: strong;
  color: var(--md-text-color);
}
.md-typeset .admonition.statblock table:not([class]) td:nth-child(1),
.md-typeset .admonition.statblock table:not([class]) td:nth-child(5),
.md-typeset details.statblock table:not([class]) td:nth-child(1),
.md-typeset details.statblock table:not([class]) td:nth-child(5) {
  font-variant: small-caps;
}
.md-typeset .admonition.statblock table:not([class]) td:nth-child(3),
.md-typeset .admonition.statblock table:not([class]) td:nth-child(4),
.md-typeset .admonition.statblock table:not([class]) td:nth-child(7),
.md-typeset .admonition.statblock table:not([class]) td:nth-child(8),
.md-typeset details.statblock table:not([class]) td:nth-child(3),
.md-typeset details.statblock table:not([class]) td:nth-child(4),
.md-typeset details.statblock table:not([class]) td:nth-child(7),
.md-typeset details.statblock table:not([class]) td:nth-child(8) {
  background-color: var(--md-primary-bg-color-light) !important;
}
.md-typeset .admonition.statblock table:not([class]) th:nth-child(4),
.md-typeset .admonition.statblock table:not([class]) td:nth-child(4),
.md-typeset details.statblock table:not([class]) th:nth-child(4),
.md-typeset details.statblock table:not([class]) td:nth-child(4) {
  border-right: 8px solid var(--md-default-bg-color) !important;
}
@media screen and (max-width: 768px) {
  .md-typeset .admonition.statblock table:not([class]),
  .md-typeset details.statblock table:not([class]) {
    width: 100% !important;
  }
  .md-typeset .admonition.statblock table:not([class]) th,
  .md-typeset details.statblock table:not([class]) th {
    font-size: calc(var(--table-font-size) * 0.8) !important;
  }
  .md-typeset .admonition.statblock table:not([class]) td,
  .md-typeset details.statblock table:not([class]) td {
    font-size: var(--table-font-size) !important;
  }
  .md-typeset .admonition.statblock table:not([class]) th:nth-child(4),
  .md-typeset .admonition.statblock table:not([class]) td:nth-child(4),
  .md-typeset details.statblock table:not([class]) th:nth-child(4),
  .md-typeset details.statblock table:not([class]) td:nth-child(4) {
    border-right: 0.3rem solid var(--md-default-bg-color) !important;
  }
}
.md-typeset .statblock > .admonition-title,
.md-typeset .statblock > summary {
  background-color: hsla(40, 100%, 57%, 0.1);
}
.md-typeset .statblock > .admonition-title::before,
.md-typeset .statblock > summary::before {
  background-color: hsl(40, 100%, 57%);
  -webkit-mask-image: var(--md-icon--statblock);
  mask-image: var(--md-icon--statblock);
}

/*------------------------------------------------------- 
    Mkdocs Material Statuses
--------------------------------------------------------*/
.md-status::after {
  width: 1.125em;
  height: 1.125em;
  vertical-align: baseline;
  mask-position: center;
}

/* Homebrew Status */
.md-status--homebrew::after {
  mask-image: var(--md-icon--homebrew);
  -webkit-mask-image: var(--md-icon--homebrew);
}

/* Draft Status */
.md-status--draft::after {
  mask-image: var(--md-icon--draft);
  -webkit-mask-image: var(--md-icon--draft);
}

/* Adapted Status */
.md-status--adapted::after {
  mask-image: var(--md-icon--adapted);
  -webkit-mask-image: var(--md-icon--adapted);
}

/*------------------------------------------------------- 
    MKdocs Material Theme Overrides
--------------------------------------------------------*/
/* Tool Tips adjustment to account for site size*/
[role=tooltip] > .md-tooltip2__inner {
  padding: 0.45em 1.5em;
  max-width: 35rem;
  font-size: 0.7rem;
  font-weight: normal;
  border-radius: 0.25em;
}

.md-grid {
  max-width: 95%;
}
@media screen and (max-width: 1024px) {
  .md-grid {
    max-width: 98%;
  }
}

/* Content Grids */
.md-typeset .grid {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 0.25em;
}
@media screen and (max-width: 768px) {
  .md-typeset .grid {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  }
}
@media screen and (max-width: 512px) {
  .md-typeset .grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}
.md-typeset .grid.cards > :is(ul, ol) > li,
.md-typeset .grid > .card {
  border: 0.075rem solid var(--md-default-wht--0125);
  padding: 0.5rem 0.8rem;
}

/*------------------------------------------------------- 
    MKdocs Material Theme Edits
--------------------------------------------------------*/
.md-sidebar--primary,
.md-sidebar--secondary,
.md-tabs,
.md-header {
  font-family: "Jost", sans-serif;
}

[data-md-color-scheme=slate] {
  --md-text-color: var(--md-gbl-text-color);
  background-color: var(--md-default-bg-color);
}
[data-md-color-scheme=slate] .md-header {
  color: var(--md-text-color);
  background-color: var(--md-default-bg-color);
  border-bottom: 0.125rem solid var(--md-primary-fg-color);
}
[data-md-color-scheme=slate] .md-header[data-md-state=shadow] {
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.15), 0 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}
[data-md-color-scheme=slate] .md-top {
  background-color: var(--md-default-bg-color);
  box-shadow: var(--md-shadow-z2);
}
[data-md-color-scheme=slate] .md-top:hover {
  background-color: var(--md-primary-fg-color);
}
[data-md-color-scheme=slate] .md-tabs {
  color: var(--md-text-color); /* Changes Text Colour */
  background-color: var(--md-primary-fg-color-transparent); /* Changes the Top navigation bar to theme colour */
}
[data-md-color-scheme=slate] .md-tabs__link--active {
  color: var(--md-primary-fg-color);
}
[data-md-color-scheme=slate] .md-tabs__link:hover {
  color: var(--md-accent-fg-color);
}
[data-md-color-scheme=slate] .md-search__input {
  color: var(--md-text-color); /* Idk what this does, but changing it mess some shit  */
  background-color: var(--md-default-bg-color--50); /* Searh Bar Background,  */
}
[data-md-color-scheme=slate] .md-search__input:hover {
  background-color: var(--md-default-bg-color--50); /* Colour when hovering */
}
[data-md-color-scheme=slate] .md-search__input ~ .md-search__icon {
  color: var(--md-text-color); /* Searh Icon Colour */
}
[data-md-color-scheme=slate] .md-search__input::placeholder {
  color: var(--md-default-fg-color--light); /* "Search Text Colour" */
}
[data-md-color-scheme=slate] .md-content {
  --md-typeset-a-color: #678df7; /* Links */
}

/*# sourceMappingURL=extra.css.map */
